<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FacebookAdsTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FacebookAdsTests.Properties.Settings>
            <setting name="AccessToken" serializeAs="String">
                <value>CAAJFNWUprOUBAC0ZB4qvFgtxTUKFEJVISAG6UVf8IREP7J1pnKppHjdjMWgRpQZAoxfrhXVzWm7tThV6oA8mEFYpnMDWzZAX9MkDpSCs4ZBQxkw70VBJQB14nZAI5JvmagTl13RxRmMCdBZA6YcydD1p4NdAyCVxkUX3MdK0hNs2cRFfFXfrk9TQexZCso5DFdMGeAgCTppJQZDZD</value>
            </setting>
            <setting name="AppId" serializeAs="String">
                <value>639045586234597</value>
            </setting>
            <setting name="AppSecret" serializeAs="String">
                <value>ed444f85cc043543a2b94916d7cacfbe</value>
            </setting>
        </FacebookAdsTests.Properties.Settings>
    </applicationSettings>
</configuration>