<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FacebookAdsTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FacebookAdsTests.Properties.Settings>
            <setting name="AccessToken" serializeAs="String">
                <value>CAAXiIYaqoPwBAMoFRFpmTx0MvwuwZBKsYJIdiGtfqtn17uJVMfKhndqHehLZAJMr9dk8I8C9icXZCgJMZASY1GFZBpvi9OaM9nlxo4oYg7Sj3TpZB8HDJq0YoGtLumZBhHOSWLX7FPYvN6YOvYb5eXN3Jz9T0ucKmZAmHosvZATAZAUI3eHQVjdiZB0zXOxyL8kY1jeOPMZAN2bcJgZDZD</value>
            </setting>
            <setting name="AppId" serializeAs="String">
                <value>1656008504680700</value>
            </setting>
            <setting name="AppSecret" serializeAs="String">
                <value>2bcffe97b57b2dead35e001454cb1dcf</value>
            </setting>
        </FacebookAdsTests.Properties.Settings>
    </applicationSettings>
</configuration>